<app-banner title="CONTACT"></app-banner>
<div class="row">
  <div class="col text-center">
    <h2 class="text-primary">PGS Enerji</h2>
  </div>
</div>
<div class="row max-w-xl m-auto">
  <div class="col">
    <h3>{{ 'ADDRESS' | translate }}</h3>
    <p>Yeni Bağlıca mah. Çambayırı cad.</p>
    <p>Ozan Tower No:69 İç Kapı No: 61</p>
    <p>Etimesgut/Ankara</p>
    <h3>{{ 'PHONE' | translate }}</h3>
    <p>0312 240 00 22</p>
    <p>0532 230 81 59</p>
    <h3>{{ 'SOCIAL_MEDIA' | translate }}</h3>
    <p>
      <a
        target="_blank"
        href="https://www.facebook.com/people/PGS-ENERJ%C4%B0/100037509198771/?mibextid=ZbWKwL"
      >
        <img src="assets/img/social/facebook.webp" alt="Facebook" />
      </a>
      <a target="_blank" href="https://www.instagram.com/pgsenerji/">
        <img src="assets/img/social/instagram.webp" alt="Instagram" />
      </a>
    </p>
  </div>
  <div class="col">
    <h3>İletişim Formu</h3>
    <form method="post" class="bg-white" (submit)="sendEmail($event)">
      <label>{{ 'NAME' | translate }}</label>
      <input [(ngModel)]="form.from_name" type="text" name="from_name" />
      <label>{{ 'EMAIL' | translate }}</label>
      <input [(ngModel)]="form.from_email" type="email" name="from_email" />
      <label>{{ 'SUBJECT' | translate }}</label>
      <input [(ngModel)]="form.subject" type="text" name="subject" />
      <label>{{ 'MESSAGE' | translate }}</label>
      <textarea [(ngModel)]="form.message" name="message"></textarea>
      <br />
      <br />
      <!-- <re-captcha (resolved)="resolved($event)" [siteKey]="recaptchaSitekey"></re-captcha> -->
      <br />
      <button
        type="submit"
        [disabled]="!form.from_name || !form.from_email || !form.subject || !form.message"
      >
        {{ 'SEND' | translate }}
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.763861398539!2d32.63550142545829!3d39.902491249275684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d33993ffffe417%3A0xd0f64cd445d07881!2sOzan%20Tower!5e0!3m2!1sen!2str!4v1694599139980!5m2!1sen!2str"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
