<app-banner title="MISSION_AND_VISION"></app-banner>
<div class="row">
  <div class="col">
    <img src="assets/img/pgs-enerji-logo-primary.jpg" alt="Misyon ve Vizyon" />
    <h2>Misyon ve Vizyon</h2>
    <p>
      Biz, iş ortaklarımızın ihtiyaçlarına yönelik üstün kaliteli elektrik ve elektronik çözümleri
      sunarak, hem bireylerin hem de işletmelerin yaşamlarını kolaylaştırmayı amaçlıyoruz.
      Teknolojik uzmanlığımızı kullanarak enerjiyi verimli bir şekilde yönetiyor, sürdürülebilir ve
      güvenilir enerji çözümleri sunuyoruz. Müşterilerimizin iş süreçlerini optimize ederek
      verimliliğini artırıyor, kesintisiz enerji akışı sağlayarak işlerini güvende tutuyoruz.
      Amacımız, müşterilerimizin güvenini kazanarak onların başarısına katkıda bulunmaktır.
    </p>
    <br />
    <p>
      Geleceği şekillendiren yenilikçi teknolojilerle donanmış bir firma olarak, elektrik ve
      elektronik sektöründe öncü bir konumda yer almayı hedefliyoruz. Global arenada tanınan ve
      güven duyulan bir iş ortağı olmak için çalışıyoruz. Sürekli olarak araştırma ve geliştirmeye
      yatırım yaparak endüstri standartlarını belirleyen ve yönlendiren bir lider olmayı
      amaçlıyoruz. Yenilikçi yaklaşımlarımız ve yaratıcı çözümlerimizle müşterilerimizin beklediği
      değeri sunarak sektördeki öncülüğümüzü sürdürmek istiyoruz.
    </p>
  </div>
</div>
