<app-banner title="CAREER"></app-banner>
<div class="row max-w-xl m-auto">
  <div class="col">
    <img src="assets/img/career/career-form.png" alt="Career" />
  </div>
  <div class="col">
    <h2>{{ 'CAREER_FORM' | translate }}</h2>
    <form method="post" class="bg-white" (submit)="sendEmail($event)">
      <label>{{ 'NAME' | translate }}</label>
      <input [(ngModel)]="form.name" type="text" name="name" />
      <label>{{ 'PHONE' | translate }}</label>
      <input [(ngModel)]="form.phone" type="text" name="phone" />
      <label>{{ 'EMAIL' | translate }}</label>
      <input [(ngModel)]="form.email" type="text" name="email" />
      <label>{{ 'EDUCATION' | translate }}</label>
      <select [(ngModel)]="form.education" name="education">
        <option *ngFor="let item of education" [value]="item | translate">
          {{ item | translate }}
        </option>
      </select>
      <label>{{ 'CITY' | translate }}</label>
      <select [(ngModel)]="form.city" name="city">
        <option *ngFor="let item of cities" [value]="item">{{ item }}</option>
      </select>
      <label>{{ 'POSITION' | translate }}</label>
      <input [(ngModel)]="form.position" type="text" name="position" />
      <br />
      <br />
      <!-- <re-captcha (resolved)="resolved($event)" [siteKey]="recaptchaSitekey"></re-captcha> -->
      <br />
      <button
        type="submit"
        [disabled]="
          !form.name ||
          !form.phone ||
          !form.email ||
          !form.education ||
          !form.city ||
          !form.position
        "
      >
        {{ 'SEND' | translate }}
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.763861398539!2d32.63550142545829!3d39.902491249275684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d33993ffffe417%3A0xd0f64cd445d07881!2sOzan%20Tower!5e0!3m2!1sen!2str!4v1694599139980!5m2!1sen!2str"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
