<div *ngIf="!slides[0].paragraph && !slides[0].buttonText" class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide && !slide.src.startsWith('assets/video/')"
      [src]="slide.src"
      class="slide"
      [@slideAnimation]="animationType"
    />
    <video
      #videoRef
      *ngIf="i === currentSlide && slide.src.startsWith('assets/video/')"
      [src]="slide.src"
      type="video/mp4"
      playsinline
      loop
      autoplay
      muted
      [@slideAnimation]="animationType"
    ></video>
    <h1
      *ngIf="i === currentSlide && slide.headline"
      class="headline"
      [@slideAnimation]="'slideUp'"
      [innerHtml]="slide.headline | translate"
    ></h1>
    <h3 *ngIf="i === currentSlide && slide.subtitle" class="subtitle">
      {{ slide.subtitle | translate }}
    </h3>
  </ng-container>

  <button *ngIf="slides.length > 1" class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button *ngIf="slides.length > 1" class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
<div *ngIf="slides[0].paragraph && slides[0].buttonText" class="carousel" style="overflow: visible">
  <ng-container *ngFor="let slide of slides; let i = index">
    <div *ngIf="i === currentSlide" class="row" [@slideAnimation]="animationType">
      <div class="col" style="position: relative">
        <img
          *ngIf="i === currentSlide && !slide.src.startsWith('assets/video/')"
          [src]="slide.src"
        />
        <video
          #videoRef
          *ngIf="i === currentSlide && slide.src.startsWith('assets/video/')"
          [src]="slide.src"
          type="video/mp4"
          playsinline
          loop
          autoplay
          muted
        ></video>
        <button
          *ngIf="i === currentSlide && slide.buttonText"
          type="button"
          class="bg-primary buttonText"
          [routerLink]="slide.buttonUrl"
        >
          {{ slide.buttonText | translate }}
        </button>
      </div>
      <div class="col">
        <h1
          *ngIf="i === currentSlide && slide.headline"
          class="headline"
          [@slideAnimation]="'slideUp'"
          [innerHtml]="slide.headline | translate"
        ></h1>
        <h3 *ngIf="i === currentSlide && slide.subtitle" class="subtitle">
          {{ slide.subtitle | translate }}
        </h3>
        <p *ngIf="i === currentSlide && slide.paragraph" class="paragraph">
          {{ slide.paragraph | translate }}
        </p>
      </div>
    </div>
  </ng-container>

  <button *ngIf="slides.length > 1" class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button *ngIf="slides.length > 1" class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
