<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide && !slide.src.startsWith('https://www.youtube.com')"
      [src]="slide.src"
      class="slide"
      [@slideAnimation]="animationType"
    />
    <div class="video-container">
      <iframe
        *ngIf="i === currentSlide && slide.src.startsWith('https://www.youtube.com')"
        [src]="
          safe.transform(
            slide.src +
              '&autoplay=1&mute=1&loop=0&controls=0&rel=0&modestbranding=0&showinfo=0&autohide=0'
          )
        "
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        [@slideAnimation]="animationType"
      ></iframe>
    </div>
    <h1
      *ngIf="i === currentSlide && slide.headline"
      class="headline"
      [@slideAnimation]="'slideUp'"
      [innerHtml]="slide.headline"
    ></h1>
    <h3 *ngIf="i === currentSlide && slide.subtitle" class="subtitle">{{ slide.subtitle }}</h3>
  </ng-container>

  <!-- controls -->
  <button *ngIf="slides.length > 1" class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button *ngIf="slides.length > 1" class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
