<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide && !slide.src.startsWith('assets/video/')"
      [src]="slide.src"
      class="slide"
      [@slideAnimation]="animationType"
    />
    <video
      *ngIf="i === currentSlide && slide.src.startsWith('assets/video/')"
      [src]="slide.src"
      type="video/mp4"
      autoplay
      loop
      muted
      [@slideAnimation]="animationType"
    ></video>
    <h1
      *ngIf="i === currentSlide && slide.headline"
      class="headline"
      [@slideAnimation]="'slideUp'"
      [innerHtml]="slide.headline"
    ></h1>
    <h3 *ngIf="i === currentSlide && slide.subtitle" class="subtitle">{{ slide.subtitle }}</h3>
  </ng-container>

  <!-- controls -->
  <button *ngIf="slides.length > 1" class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button *ngIf="slides.length > 1" class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
