<div class="full-height">
  <carousel [slides]="slides" [animationType]="animationType" [timer]="10000"></carousel>
</div>
<div class="row">
  <div class="col">
    <h1>{{ 'FEATURED_PROJECTS' | translate }}</h1>
  </div>
</div>
<div class="full-height">
  <carousel [slides]="projects" [animationType]="animationType"></carousel>
</div>
<div class="row">
  <div class="col">
    <h1>{{ 'ABOUT_US' | translate }}</h1>
  </div>
</div>
<div class="row max-w-xl m-auto">
  <div class="col">
    <article [innerHtml]="'ABOUT_US_TEXT' | translate"></article>
  </div>
</div>
<div class="row max-w-xl m-auto">
  <div class="col">
    <h1>{{ 'REFERENCES' | translate }}</h1>
    <div #horizontalScroll class="horizontal-scroll">
      <img *ngFor="let item of references" [src]="'assets/img/references/' + item" [alt]="item" />
    </div>
  </div>
</div>

<app-footer></app-footer>
