<div class="full-height-minus-header">
  <carousel [slides]="slides" [animationType]="animationType" [timer]="10000"></carousel>
</div>
<div class="row">
  <div class="col">
    <h1>Öne Çıkan Projeler</h1>
  </div>
</div>
<div class="full-height">
  <carousel [slides]="projects" [animationType]="animationType"></carousel>
</div>
<div class="row">
  <div class="col">
    <h1>Uzman Kadro</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus maxime itaque veritatis?
      Temporibus, voluptatem officiis consequuntur quasi eos cupiditate optio ipsa? Impedit nemo
      dolorum commodi porro sunt nam, sequi ducimus?
    </p>
  </div>
  <div class="col">
    <carousel [slides]="team" [animationType]="animationType" [timer]="5000"></carousel>
  </div>
</div>

<app-footer></app-footer>
