<div class="full-height">
  <carousel [slides]="slides" [animationType]="animationType" [timer]="10000"></carousel>
</div>
<div class="row">
  <div class="col">
    <h1>{{ 'FEATURED_SERVICES' | translate }}</h1>
  </div>
</div>
<div class="row wow slideInDown">
  <div class="col text-center max-w-xl m-auto">
    <div class="featured-box" *ngFor="let item of services">
      <img [src]="'assets/img/services/' + item.route + '.jpg'" [alt]="item" />
      <h3>{{ 'SERVICE_NAMES.' + item.translationKey | translate }}</h3>
      <div class="content">
        <a class="stroked rounded flex-center" [routerLink]="['/service', item.route]">
          <button class="stroked rounded">{{ 'READ_MORE' | translate }}</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <button class="bg-primary" routerLink="/services">{{ 'READ_MORE' | translate }}</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ 'ABOUT_US' | translate }}</h1>
  </div>
</div>
<div class="row max-w-xl m-auto wow pulse">
  <div class="col flex-center">
    <img src="assets/img/about-us/office.jpg" alt="office" />
  </div>
  <div class="col">
    <article [innerHtml]="'ABOUT_US_TEXT_SHORT' | translate"></article>
    <div class="text-center">
      <button class="bg-primary" routerLink="/about-us">{{ 'READ_MORE' | translate }}</button>
    </div>
  </div>
</div>
<div class="row max-w-xl m-auto wow fadeInUp">
  <div class="col">
    <h1>{{ 'REFERENCES' | translate }}</h1>
    <div #horizontalScroll class="horizontal-scroll">
      <img *ngFor="let item of references" [src]="'assets/img/references/' + item" [alt]="item" />
    </div>
  </div>
</div>
