<footer>
  {{ selectedLang }}
  <div class="row">
    <div class="col">
      <img
        *ngIf="selectedLang === 'en'"
        src="assets/img/pgs-energy-logo-transparent.png"
        alt="PGS Enerji Logo"
      />
      <img
        *ngIf="selectedLang === 'tr'"
        src="assets/img/pgs-enerji-logo-transparent.png"
        alt="PGS Enerji Logo"
      />
    </div>
    <div class="col">
      <!-- <h3>{{ 'SITEMAP' | translate }}</h3> -->
      <div class="nav">
        <button cdkMenuItem [cdkMenuTriggerFor]="institutional">
          {{ 'INSTITUTIONAL' | translate }}
        </button>
        <ng-template #institutional>
          <div cdkMenu>
            <button cdkMenuItem routerLink="/about-us">{{ 'ABOUT_US' | translate }}</button>
            <button cdkMenuItem routerLink="/mission-vision">
              {{ 'MISSION_AND_VISION' | translate }}
            </button>
            <button cdkMenuItem routerLink="/team">{{ 'TEAM' | translate }}</button>
            <button cdkMenuItem routerLink="/responsibilities">
              {{ 'RESPONSIBILITIES' | translate }}
            </button>
          </div>
        </ng-template>
        <button routerLink="/solution-partners">
          {{ 'SOLUTION_PARTNERS' | translate }}
        </button>
        <button routerLink="/references">{{ 'REFERENCES' | translate }}</button>
        <button routerLink="/services">{{ 'SERVICES' | translate }}</button>
        <button routerLink="/projects">{{ 'PROJECTS' | translate }}</button>
        <button cdkMenuItem [cdkMenuTriggerFor]="contact">
          {{ 'CONTACT' | translate }}
        </button>
        <ng-template #contact>
          <div cdkMenu>
            <button cdkMenuItem routerLink="/contact">{{ 'CONTACT' | translate }}</button>
            <button cdkMenuItem routerLink="/career">
              {{ 'CAREER' | translate }}
            </button>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col">
      <!-- <h3>{{ 'CONTACT' | translate }}</h3> -->
      <img src="assets/img/contact/business-card-back.png" alt="PGS Enerji Business Card Back" />
    </div>
  </div>
</footer>
