<app-banner title="PROJECTS"></app-banner>
<div class="row">
  <div class="col text-center max-w-xl m-auto">
    <div class="box" *ngFor="let item of projects">
      <img
        [src]="'assets/img/projects/' + item.id + '/1.jpg'"
        [alt]="item"
        (click)="dialog.open(imageViewer, { data: 'assets/img/projects/' + item.id + '/1.jpg' })"
      />
      <h4>{{ item.name }}</h4>
      <h4>{{ item.employer }}, {{ item.location }}</h4>
    </div>
  </div>
</div>

<ng-template #imageViewer let-data>
  <div class="popup">
    <button class="bg-primary" (click)="dialog.closeAll()">X</button>
    <img [src]="data" />
  </div>
</ng-template>
