.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100px;
  // background-color: white;
  padding: 0 2em;
}
.nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1em;
  a,
  button {
    display: block;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    color: initial;
  }
}
img {
  height: 100%;
}
