<div class="navbar">
  <a routerLink="/">
    <img src="assets/img/pgs-enerji-logo-white.jpg" alt="" />
  </a>
  <ul class="nav">
    <li>
      <a routerLink="/solution-partners">{{ 'SOLUTION_PARTNERS' | translate }}</a>
    </li>
    <li>
      <a routerLink="/about-us">{{ 'ABOUT_US' | translate }}</a>
    </li>
    <li>
      <a routerLink="/references">{{ 'REFERENCES' | translate }}</a>
    </li>
    <li>
      <a routerLink="/services">{{ 'SERVICES' | translate }}</a>
    </li>
    <li>
      <a routerLink="/projects">{{ 'PROJECTS' | translate }}</a>
    </li>
    <li>
      <a routerLink="/contact">{{ 'CONTACT' | translate }}</a>
    </li>
    <li>
      <button [cdkMenuTriggerFor]="menu">{{ selectedLang | uppercase }}</button>
      <ng-template #menu>
        <div cdkMenu>
          <button cdkMenuItem (click)="switchLanguage('en')">English</button>
          <button cdkMenuItem (click)="switchLanguage('tr')">Türkçe</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
