@import '/src/scss/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100vw;
  height: 100px;
  padding: 0 2em;
  & > a {
    height: 100%;
    img {
      height: 100%;
    }
  }
}
.nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1em;
  a,
  button {
    display: block;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    color: $primary;
  }
}
