@import '/src/scss/variables.scss';
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100vw;
  height: 100px;
  padding: 0 2em;
  & > a {
    height: 100%;
    img {
      height: 100%;
    }
  }
  &.home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  }
}
.nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1em;
  align-items: center;
  a,
  button {
    display: block;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    color: $primary;
  }
}

@media (max-width: ($sm - 1)) {
  .nav {
    a,
    button {
      padding: 0;
    }
  }
}
