<div class="navbar">
  <a routerLink="/">
    <img src="assets/img/pgs-enerji-logo-white.jpg" alt="" />
  </a>
  <ul class="nav">
    <li><a routerLink="/solution-partners">Solution Partners</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li><a routerLink="/references">References</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <!-- <li>
      <button [cdkMenuTriggerFor]="menu">Profile</button>
      <ng-template #menu>
        <div cdkMenu>
          <button cdkMenuItem routerLink="/profile">Profile</button>
          <button cdkMenuItem routerLink="/logout">Logout</button>
        </div>
      </ng-template>
    </li> -->
  </ul>
</div>
