<app-banner title="ABOUT_US"></app-banner>
<div class="row">
  <div class="col">
    <h2>Hakkımızda</h2>
    <p>
      2012 Yılında sektöre, PGS Elektrik şahıs şirketi ile başlamış olup, iş hayatına "Güven,
      Yenilik, Profesyonellik" çizgisini ilke edinerek, 2014 yılı itibariyle PGS Elektrik Sanayi
      Ticaret A.Ş. olarak devam etmektedir.
    </p>
    <p>PGS Elektrik, elektrik ve enerji sektöründe çeşitli projelere imza atmaktadır.</p>
    <p>
      PGS Elektrik, sunduğu hizmet ile her projede, insanların yaşamlarına değer katmayı hedefler.
    </p>
    <p>
      PGS Elektrik, tüm projelerinde dünyanın her tarafında yürürlükte olan üst düzey mühendislik
      disiplinlerini uygular. PGS Elektrik, profesyonel duruşu, güvenilir ekibi ve iş ortakları ile
      çalışanlarına, tedarikçilerine ve ekosistemine değer katmaya özen gösterir.
    </p>
    <p>Sürekli büyüyen ve gelişen kurumsal bir yapı içinde Türkiye'de faaliyetlerini sürdüren</p>
    <p>
      PGS Elektrik, bu politikasından ödün vermeden ve standartlarını koruyarak, sürdürülebilir
      büyüme odaklı bir strateji ile çalışmalarına devam etmektedir.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="assets/img/pgs-enerji-logo-primary.jpg" alt="Misyon ve Vizyon" />
    <h2>Misyon ve Vizyon</h2>
    <p>
      Misyonumuz; Müşterilerimize yüksek kaliteli elektrik ve elektronik çözümleri sunarak,
      yaşamlarını kolaylaştırmak ve işletmelerin verimliliğini artırmak.
    </p>
    <p>
      Vizyonumuz; Yenilikçi teknolojilerle donanmış bir geleceği şekillendirerek, sektörde öncü bir
      firma olarak global çapta tanınmak ve güven duyulan bir iş ortağı olmak.
    </p>
  </div>
  <div class="col">
    <img src="assets/img/pgs-enerji-logo-primary.jpg" alt="Sorumluluklarımız" />
    <h2>Sorumluluklarımız</h2>
    <p>
      Kalite Standartları: Müşterilerimize en yüksek kalitede hizmet sunmak için sürekli olarak
      kalite standartlarımızı yükseltmek ve sürdürmek.
    </p>
    <p>
      Çevre Duyarlılığı: Çevreyi korumak ve sürdürülebilirlik ilkesini benimsemek için atık yönetimi
      ve enerji tasarrufu gibi çevresel konulara özen göstermek.
    </p>
    <p>
      İnovasyon ve Teknoloji: Yenilikçi çözümler geliştirmek, güncel teknolojileri takip etmek ve
      sektördeki en son gelişmeleri müşterilerimize sunmak.
    </p>
    <p>
      İş Sağlığı ve Güvenliği: Çalışanlarımızın güvenliğini sağlamak, iş sağlığı ve güvenliği
      standartlarına uymak ve iş kazalarını minimize etmek.
    </p>
    <p>
      Etik Değerler: İş yapış tarzımızda dürüstlük, şeffaflık ve etik değerleri benimsemek ve
      bunları her seviyede teşvik etmek.
    </p>
    <p>
      Bu sorumluluklarımızı yerine getirerek, hem müşterilerimize değer katmayı hem de toplumsal ve
      çevresel etkilerimizi olumlu yönde artırmayı amaçlıyoruz.
    </p>
  </div>
  <div class="col">
    <img src="assets/img/pgs-enerji-logo-primary.jpg" alt="Çalışanlarımız" />
    <h2>Çalışanlarımız</h2>
    <p>Çalışanlarımız, bizim en değerli varlığımız.</p>
    <p>
      Firmamızın başarısının arkasındaki en büyük güç, bağlı ve yetenekli çalışanlarımızdır. Biz
      çalışanlarımızın işimize katkısını yürekten takdir eder ve onların başarısı için gerekli
      ortamı sağlamak amacıyla kararlıyız.
    </p>
    <p>Çalışanlarımıza Değer Veriyoruz:</p>
    <p>
      Çeşitlilik ve Katılım: Farklılık ve farklı bakış açılarını teşvik ederek, zengin bir iş gücü
      oluştururuz.
    </p>
    <p>
      İşbirliği ve Ekip Çalışması: İşbirliği, takım çalışması ve bilgi paylaşımıyla en iyi sonuçları
      elde ederiz.
    </p>
    <p>Çalışanlarımızla bir aile oluşturarak, birlikte büyüme ve başarıyı paylaşma amacındayız.</p>
    <p>
      Onların tutkusu, enerjisi ve yenilikçi yaklaşımları, firmamızı daha da ileri taşıyacak en
      önemli faktörlerdir.
    </p>
  </div>
</div>
