<app-banner title="ABOUT_US"></app-banner>
<div class="row">
  <div class="col">
    <h2>{{ 'ABOUT_US' | translate }}</h2>
    <p>
      2012 Yılında sektöre, PGS Elektrik şahıs şirketi ile başlamış olup, iş hayatına "Güven,
      Yenilik, Profesyonellik" çizgisini ilke edinerek, 2014 yılı itibariyle PGS Elektrik Sanayi
      Ticaret A.Ş. olarak devam etmektedir.
    </p>
    <p>PGS Elektrik, elektrik ve enerji sektöründe çeşitli projelere imza atmaktadır.</p>
    <p>
      PGS Elektrik, sunduğu hizmet ile her projede, insanların yaşamlarına değer katmayı hedefler.
    </p>
    <p>
      PGS Elektrik, tüm projelerinde dünyanın her tarafında yürürlükte olan üst düzey mühendislik
      disiplinlerini uygular. PGS Elektrik, profesyonel duruşu, güvenilir ekibi ve iş ortakları ile
      çalışanlarına, tedarikçilerine ve ekosistemine değer katmaya özen gösterir.
    </p>
    <p>Sürekli büyüyen ve gelişen kurumsal bir yapı içinde Türkiye'de faaliyetlerini sürdüren</p>
    <p>
      PGS Elektrik, bu politikasından ödün vermeden ve standartlarını koruyarak, sürdürülebilir
      büyüme odaklı bir strateji ile çalışmalarına devam etmektedir.
    </p>
  </div>
</div>
