a {
  @extend .text-accent;
  font-weight: bold;
  padding: 0.4em;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 5em rgba($color: #000000, $alpha: 0.1) inset;
  }
  &:active {
    box-shadow: 0 0 5em rgba($color: #000000, $alpha: 0.2) inset;
  }
}
