form {
  input,
  textarea,
  select {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 1em;
    box-sizing: border-box;
  }
  label {
    display: block;
    font-size: 1.1em;
    // font-weight: bold;
    margin: 0.5em 0;
  }
}
