.popup {
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  outline: none;
  position: relative;
  background: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  button {
    position: absolute;
    top: 3em;
    right: 3em;
  }
}
