.brand {
  width: 400px;
  height: 300px;
  display: inline-block;
  border: 1px solid lightgray;
  margin: 1em;
  vertical-align: middle;
  overflow: hidden;
  // filter: saturate(0) brightness(0.7) contrast(3);
  cursor: pointer;
  img {
    transition: all 0.5s ease-out;
    margin: auto;
    display: block;
    height: 100%;
    width: auto;
    &:hover {
      transform: scale(0.9);
    }
  }
}
